body{
    background-image: url(https://media.tenor.com/ZYSYsmBaqHMAAAAC/fireworks-firework.gif);
    background-size: cover;
    text-align: center;
}

h1{
    font-size: 50px;
    color: thistle;
    margin-top: 20px;
}

.box{
    background-color: white;
    margin: 2% 10%;
    padding: 50px;
    opacity: 0.8;
    border-radius: 20px;
    width: 750px;
    top:28%;
    left: 10%;
    position: absolute;
    text-align:center;
}
